.input-group-tosur label {
    display: block;
    color: white;
}
.input-group-tosur input {
    display: block;
}
.input-group-tosur {
    display: flex;
    flex-direction: column;
}
.input-group-tosur {
    margin-bottom: 15px;
}